.clothes-section {
  display: flex;
  flex-direction: column;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.clothes__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 0 16px 0;
}

.clothes-section-items {
  margin: 0;
}

.clothes__add-btn {
  max-width: 110px;
  padding: 0;
  height: 25px;
  border: none;
  opacity: 0.6;
  cursor: pointer;
}

.clothes__add-btn:hover {
  opacity: 1;
}

.clothes-section__cards__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  max-width: 1015px;
}
