@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../vendor/fonts/CabinetGrotesk-Bold.otf) format("otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  max-width: 1360px;
  max-height: 40px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}
