.modal__content_type_image {
  padding: 0 0 32px;
  border-radius: 20px;
}

.modal__close {
  width: 20px;
  height: 20px;
  right: 24px;
  top: 24px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__image {
  width: 100%;
  border-radius: 20px 20px 0;
}

.modal__footer {
  padding: 0 32px 0;
}

.modal__caption {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
}

.modal__weather {
  margin: 12px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__delete-btn {
  position: absolute;
  color: #ff4d00;
  bottom: 75px;
  right: 25px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 500;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
