.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../assets/close-icon.svg");
  height: 16px;
  width: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
}

.modal__content {
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.modal__form {
  max-width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.modal__label {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  gap: 8px;
}

.modal__label_type_radio {
  gap: 8px;
}

.modal__input {
  display: block;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  margin: 8px 0 24px;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  padding: 0 0 12px;
}

.modal__submit {
  border: none;
  width: 124px;
  height: 36px;
  margin: 32px 0 0;
  border-radius: 4px;
  color: #fff;
  background-color: grey;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
